$activitybar-bg: #333333;

.activitybar {
	min-width: 50px;
	max-width: 50px;
	background: $activitybar-bg;
	gap: 15px;
	padding-top: 20px;

	& > .activity-item {

		& > svg {
			width: 30px;
			height: 30px;
			filter: invert(1);
			margin: 0 10px;
		}

		&.active::before {
			position: absolute;
			content: ' ';
			width: 3px;
			height: 35px;
			background: white;
		}

		&.active {
			opacity: 1;
		}

		&.inactive {
			opacity: 0.5;
		}
	}
}